<!DOCTYPE html>
<html>

<head>
    <title>HRMS | <%= title %>
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet"/>
    <link href='/public/stylesheets/bootstrap.css' rel='stylesheet' />
    <link href="/stylesheets/bootstrap-select.min.css" rel="stylesheet"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Table Stylesheet: -->
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" rel="stylesheet">
    <style>
        table {
            font-family: arial, sans-serif;
            width: 100%;
        }

        td,
        th {
            text-align: center !important;
            padding: 8px;
            border: none !important;
        }

        th {
            background-color: #5bc0de;
            color: #fff;
            text-align: center;
        }

        input {
            outline: none;
        }

        .search-date input {
            padding: 0;
            margin: 10px 0 0px 20px;
            height: 30px;
        }

        .search-date tr {
            display: flex;
            padding: 0 0 10px 0;
        }

        .search-date td {
            display: flex;
        }

        .search-date h5 {
            background-color: #092831c4;
            padding: 7px 20px;
            color: #fff;
            border: 1px solid;
            border-radius: 5px;
            width: 50%;
        }

        .search-date input {
            display: table;
        }
    </style>

</head>

<body>
    <nav class="navbar navbar-default" style="margin: 0;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-logo col-lg-4 col-md-4">
            <img src="..\images\webLogo.png" style="width: 180px; height: auto;" />
        </div>
        <div class="navbar-header fixed-brandcol-lg-4 col-md-4" style="width: 33%;">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i>
                <%= userName %>
            </a>
        </div><!-- navbar-header-->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav col-lg-4 col-md-4">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
                </li>
                <li class="navbar-brand">
                    <form action="/logout" method="get">
                        <button id="logout" type="submit" style="margin-top: -3px;" class="btn btn-info"><i
                                class="fa fa-user" aria-hidden="true"></i> Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div><!-- bs-example-navbar-collapse-1 -->
    </nav> 
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                <li>
                    <a href="#" id="menu3"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-users fa-stack-1x "></i></span> Employees</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="/admin/view-all-employees"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-eye fa-stack-1x "></i></span>View Employees</a></li>
                        <li><a href="/admin/add-employee"><span class="fa-stack fa-lg pull-left"><i
                                        class="fa fa-plus fa-stack-1x "></i></span>Add Employees</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="/admin/leave-applications"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span> Leave Applications</a>
                </li>
                <li>
                    <a href="/admin/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid xyz">
                <div class="row">
                    <h1>Leave Applications</h1>
                    <!-- <div class="date-div" style="margin-bottom: 15px;">
                    <div class="search-from col-md-3">
                        <div class="input-group mb-3" style = "display: flex; align-items: center;">
                            <span class="input-group-text wss text-white">From</span>
                            <td><input type="text" id="end_date" name="end_date"></td>
                        </div>
                    </div>
                    <div class="search-to col-md-3">
                        <div class="input-group mb-3" style = "display: flex; align-items: center;">
                            <span class="input-group-text wss text-white" >To</span>
                            <td><input type="text" id="start_date" name="start_date"></td>
                        </div>
                    </div>
                    <div class="input-group col-md-3 mb-3" style="display: flex; align-items: center;">
                        <span class="input-group-text wss text-white">Name</span>
                        <select class="form-select form-control" aria-label="Default select example">
                            <% leaves.forEach(function(item){ %>
                                <option value="Name"><%= item.title %></option>
                                <% }); %>
                            </select>
                        
                    </div>
                </div> -->
                    <div class="table-responsive">
                        <div class="search-date">
                            <table border="0" cellspacing="5" cellpadding="5">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h5>Start date:</h5>
                                            <input type="text" id="min" name="min">
                                        </td>

                                        <td>
                                            <h5>End date:</h5>
                                            <input type="text" id="max" name="max">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table id="myTable" class="display" style="width:100%; padding: 10px 0 0 0;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Time</th>
                                    <th>Period(Days)</th>
                                    <th>Status</th>

                                    <th></th>
                                </tr>
                            </thead>
                            <!-- <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Title</th>
                                    <th>Type</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Time</th>
                                    <th>Period(Days)</th>
                                    <th>Status</th>

                                    <th></th>
                                </tr>
                            </tfoot> -->
                            <tbody>
                                <% for(var i=0;i < leaves.length;i++){ %>
                                    <tr>
                                        <td>
                                            <%= employees[i].name %>
                                        </td>
                                        <td>
                                            <%= leaves[i].title %>
                                        </td>
                                        <td>
                                            <%= leaves[i].type %>
                                        </td>
                                        <td>
                                            <%= new Date(leaves[i].startDate).toISOString().substring(0, 10) %>
                                        </td>
                                        <td>
                                            <%= new Date(leaves[i].endDate).toISOString().substring(0, 10)%>
                                        </td>
                                        <td>
                                            <%= new Date(leaves[i].appliedDate).toLocaleTimeString('en-US', {
                                                hour: '2-digit', 
                                                minute: '2-digit',
                                                hour12: true
                                            }) %>
                                        </td>
                                        <td>
                                            <%= leaves[i].period %>
                                        </td>
                                        <td>
                                            <%= leaves[i].adminResponse %>
                                        </td>
                                        <td>
                                            <form method="get"
                                                action="/admin/respond-application/<%= leaves[i]._id %>/<%= employees[i]._id %>">
                                                <button type="submit"><i class="fa fa-reply fa-lg" title="Responsd"
                                                        aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->


    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.js" charset="UTF-8"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
    <script src="/javascripts/sidebar_menu.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>


    <script>

        var minDate, maxDate;

        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = minDate.val();
                var max = maxDate.val();
                var date = new Date(data[4]);


                if (
                    (min === null && max === null) ||
                    (min === null && date <= max) ||
                    (min <= date && max === null) ||
                    (min <= date && date <= max)
                ) {
                    return true;
                }
                return false;
            }
        );

        $(document).ready(function () {
            // Create date inputs
            minDate = new DateTime($('#min'), {
                format: 'MMMM Do YYYY'
            });
            maxDate = new DateTime($('#max'), {
                format: 'MMMM Do YYYY'
            });

            // DataTables initialisation
            var table = $('#myTable').DataTable();

            // Refilter the table
            $('#min, #max').on('change', function () {
                table.draw();
            });
        });



    </script>


</body>

</html>