<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | <%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>


</head>
<body>
<nav class="navbar navbar-default no-margin">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="navbar-logo col-lg-4 col-md-4">
        <img src = "../images/webLogo.png" style="width: 180px; height: auto;" />
    </div>
    <div class="navbar-header fixed-brand col-lg-4 col-md-4">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
            <span class="glyphicon glyphicon-th-large" style="margin-left:5px;" aria-hidden="true"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-a fa-4"></i><%= userName %></a>
    </div><!-- navbar-header-->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav col-lg-4 col-md-4">
            <li class="active">
                <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2"><span
                            class="glyphicon glyphicon-th-large" aria-hidden="true"></span></button>
            </li>
            <li class="navbar-brand">
                <form action="/logout" method="get">
                    <button id="logout" type="submit" style="margin-top: -3px; outline: none;" class="btn btn-info"><i
                                class="fa fa-user" aria-hidden="true"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div><!-- bs-example-navbar-collapse-1 -->
</nav>
<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

            <li>
                <a href="/employee/applied-leaves"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-dashboard fa-stack-1x "></i></span> View Leaves</a>
            </li>
            <li>
                <a href="/employee/apply-for-leave"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-envelope-square fa-stack-1x "></i></span>Apply for Leave</a>
            </li>
            
            <li class="active">
                <a href="/employee/view-profile"><span class="fa-stack fa-lg pull-left"><i
                                class="fa fa-user fa-stack-1x "></i></span>View Profile</a>
            </li>
        </ul>
    </div><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <div id="menu1">
                        <h1>Profile</h1>
                        <br>
                        <form class="form-group-sm" action="/employee/view-all-projects" method="get">
                            <h4>Name : <label id="name"><%= employee.name %></label></h4>
                            <h4>Email : <label id="type"><%= employee.email %></label></h4>
                            <h4>Date of Birth : <label
                                        id="dob"><%= moment(employee.dateOfBirth).format('MMMM Do YYYY') %></label></h4>
                            <h4>Department : <label id="department"><%= employee.department %></label></h4>
                            <h4>Designation : <label id="designation"><%= employee.designation %></label></h4>
                            <!-- <h4>Projects : <label id="projects">
                                    <button type="submit" class="form-control">View Projects</button>
                                </label></h4> -->

                            <% if(employee.Skills.length > 0){ %>

                            <h4>Skills:</h4>
                            <div style="height: 250px; overflow: auto;">
                                <ul class="list-group" id="skills">
                                    <%
                                    employee.Skills.forEach(function(val){
                                    if(val != ""){ %>
                                    <li class="list-group-item"><%= val %></li>

                                    <% }
                                    }) %>

                                </ul>
                            </div>
                            <% }else{ %>
                            <h4>Skills : <label id="skills">N/A</label></h4>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>


<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
    });
</script>
</body>

</html>
